:root{
    /* Code */
    --bg-color-code: #212121;
    /* Syntax */
    --highlight-attribute-name-color: #f7cd7a;
    --highlight-attribute-value-color: #cae797;
    --highlight-comment-color: #616161;
    --highlight-equal-sign-color: #cae797;
    --highlight-tag-color: #9cdafa;
    --highlight-tag-name-color: #e0787b;
    --highlight-text-color: #f1ffff;
}
/* Container */
.container-code {
    background-color: var(--bg-color-code);
    position: relative;
}

/* Syntax */
.highlight-attribute-name {color: var(--highlight-attribute-name-color);}
.highlight-attribute-value {color: var(--highlight-attribute-value-color);}
.highlight-comment {color: var(--highlight-comment-color);}
.highlight-equal-sign {color: var(--highlight-equal-sign-color);}
.highlight-tag {color: var(--highlight-tag-color);}
.highlight-tag-name {color: var(--highlight-tag-name-color);}
.highlight-text {color: var(--highlight-text-color);}
